.container {
    width: 100%;
    height: 100vh;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    margin: auto;
}

.secondContainer {
    border: 1px solid blue;
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    gap: 30px;
}

.containerButtons {
    border: 1px solid pink;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.containerButtons button {
    height: 40px;
}

.containerCliente {
    border: 1px solid violet;
    gap: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.containerCliente div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.containerButton {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button {
    width: 200px;
    height: 40px;
}

.input {
    height: 30px;
}

.select {
    height: 40px;
}