.container {
    border: 1px solid black;
    width: 100%;
}

.secondContainer {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}

.card {
    border: 2px solid blue;
    width: 300px;
    height: 500px;
}

.card img {
    width: 200px;
}